<!DOCTYPE html>
<html lang="en-US" dir="ltr">
<head>
    <title>Car Details</title>
    <link rel="stylesheet" href="AddCarMasterData.css">
    <link rel="stylesheet" crossorigin="anonymous"
	href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" >
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" />
	<script crossorigin="anonymous"
	src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" >
	</script>
</head>
<header>
    <h1><i class="fas fa-car" style="--fa-secondary-color: #ff0000;"></i> Enter New Car Details</h1>
    <nav>
        <a href="{{ url_for('getmycarlistings') }}"><strong>My Listings</strong></a>
        <a href="{{ url_for('getcarlistings') }}"><strong>Listings</strong></a>
        <a href="{{ url_for('logout') }}">Logout</a>
    </nav>
  </header>
<body>
    <form action="" method = "POST">
        <!-- MasterID --><!--<div class="form-group row"> 
          <label for="id">Id</label> 
          <input type="text" class="form-control" name="id" id="id">
        </div> -->
        
        <div class="form-group row">
            <p><strong>Enter the Car Details Below</strong></p>
            <label for="manufacturer">Maker and Model</label><!-- Manufacturer -->
            <input type="text" class="form-control" name="manufacturer" id="manufacturer">
        </div>
        <div class="form-group row"><!--  ModelYear  -->
            <label for="make-year">Make Year</label>
            <input type="text" class="form-control" name="modelYear" id="modelYear">
        </div>
        <div class="form-group row"> <!--CylinderCount-->
            <label for="cylinder-count">Cylinders Count</label>
            <input type="number" class="form-control" name="cylinderCount" id="cylinderCount">
        </div>
        <div class="form-group row"> <!--FuelType-->
            <label for="fuel-type">Fuel Type</label>
            <!--<input type="text" class="form-control" name="fuelType" id="fuelType"> -->
            <select name = 'fuelType' id = 'fuelType'>
                <option value="other">--Please select an option--</option>
                <option value="hybrid">Hybrid</option>
                <option value="electric">Electric</option>
                <option value="diesel">Diesel</option>
                <option value="Gas">Gas</option>
            </select>
        </div>
        <div class="form-group row"> <!--TransmissionType-->
            <label for="transmission-type">Transmission Type</label>
            <!--<input type="text" class="form-control" name="transmissionType" id="transmissionType">-->
            <select name = 'transmissionType' id = 'transmissionType'>
                <option value="other">--Please select an option--</option>
                <option value="automatic">Automatic</option>
                <option value="manual">Manual</option>
            </select>
        </div>
        <div class="form-group row"> <!--CarSize-->
            <label for="car-size">Size</label>
            <!--<input type="text" class="form-control" name="carSize" id="carSize">-->
            <select name = 'carSize' id = 'carSize'>
                <option value="other">--Please select an option--</option>
                <option value="mid-size">Mid Size</option>
                <option value="full-size">Full Size</option>
                <option value="sub-compact">Sub Compact</option>
                <option value="compact">Compact</option>
            </select>
        </div>
        <div class="form-group row"> <!--CarBodyType-->
            <label for="car-body-type">Type & Body</label>
            <input type="text" class="form-control" name="carBodyType" id="carBodyType">
        </div>
        <div class="form-group row"> <!--CarColor-->
            <label for="car-color">Color</label>
            <input type="text" class="form-control" name="carColor" id="carColor">
        </div>
        <div class="form-group row"> <!--VehicleIdentificationNum-->
            <label for="vin">Vehicle Identification Number (VIN)</label>
            <input type="text" class="form-control" name="vehicleIdentificationNum" id="vehicleIdentificationNum">
        </div>
        <div class="form-group row"> <!--DriveType-->
            <label for="drive-type">Drive Type</label>
            <!--<input type="text" class="form-control" name="driveType" id="driveType">-->
            <select name = 'driveType' id = 'driveType'>
                <option value="other">--Please select an option--</option>
                <option value="4wd">Four-wheel Drive</option>
                <option value="fwd">Front-wheel Drive</option>
                <option value="rwd">Rear-wheel Drive</option>
            </select>
        </div>
        <button type="btnAdd" href="addcardetails" class="btn btn-primary">Next</button>
        <a href="/" class="btn btn-primary">Cancel</a>
      </form>
      <footer>
        <p>Contact us</p>
        <p>Email: usedcarcentral@gmail.com</p>
        <p>Phone: +1 812 8XX XXX</p>
      </footer>
</body>