<!DOCTYPE html>
<html lang="en-US" dir="ltr">
<head>
    <title>Car Details</title>
    
    <link rel="stylesheet" crossorigin="anonymous"
	href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" >
    
	<script crossorigin="anonymous"
	src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" >
	</script>

</head>

<body>
    <h1>Enter New Car Listing Details</h1>
    <h2>Please Enter the Car Details Below</h2>
    <form action="" method = "POST">
        <!-- MasterID --><!--<div class="form-group row"> 
          <label for="id">Id</label> 
          <input type="text" class="form-control" name="id" id="id">
        </div> -->
        
        <div class="form-group row">
            <label for="car-condition">Specify The Car Condition</label><!-- Manufacturer -->
            <!--<input type="text" class="form-control" name="carCondition" id="carCondition">-->
            <select name = 'carCondition' id = 'carCondition'>
                <option value="other">--Please select a car condition--</option>
                <option value="excellent">Excellent</option>
                <option value="new">New</option>
                <option value="good">Good</option>
                <option value="fair">Fair</option>
                <option value="salvage">Salvage</option>
                <option value="like new">Like New</option>
            </select>
        </div>
        <div class="form-group row"><!--  ModelYear  -->
            <label for="odometer-reading">Odometer Reading</label>
            <input type="number" step="0.01" class="form-control" name="odometerReading" id="odometerReading">
        </div>
        <div class="form-group row"> <!--FuelType-->
            <label for="car-status">Car Status</label>
            <!--<input type="text" class="form-control" name="fuelType" id="fuelType"> -->
            <select name = 'carStatus' id = 'carStatus'>
                <option value="other">--Please select the status of the Car--</option>
                <option value="parts Only">Parts Only</option>
                <option value="rebuilt">Rebuilt</option>
                <option value="clean">Clean</option>
                <option value="lien">Lien</option>
                <option value="salvage">Salvage</option>
                <option value="missing">Missing Parts</option>
            </select>
        </div>
        <div class="form-group row"> <!--CarBodyType-->
            <label for="image-url">Paste the Image URL of the Car</label>
            <input type="url" class="form-control" name="imageUrl" id="imageUrl">
        </div>
        <div class="form-group row"> <!--CarColor-->
            <label for="car-desc">Describe The Car</label>
            <input type="text" class="form-control" name="carDesc" id="carDesc" minlength="5" maxlength="800" size="10">
        </div>
        <button type="btnAdd" class="btn btn-primary">Next</button>
        <a href="/" class="btn btn-primary">Cancel</a>
      </form>
</body>