<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Used Car Central</title>
    <link rel="stylesheet" href="../static/styles/landing.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" />
  </head>
  <body>
    <header>
      <h1><i class="fas fa-car" style="--fa-secondary-color: #ff0000;"></i> Used Car Central</h1>
      <nav>
      <a href="{{ url_for('login') }}"><strong>Login</strong></a>
      <a href="{{ url_for('register') }}"><strong>Registration</strong></a>
      </nav>
    </header>
    
    <div class="landing-box">
      <h2>Our Mission!</h2>
      <p>Our mission is to provide a seamless and hassle-free experience for both sellers and buyers, by connecting them directly and eliminating any intermediaries. We strive to bridge the gap between the two parties and empower them with all the necessary tools and information to make informed decisions.
</p>
      <p>Our goal is to help buyers find the best deals and sellers get the best value for their cars, without having to pay any brokerage fees. With our user-friendly interface, extensive inventory, and top-notch customer service, we are committed to making the process of buying and selling used cars as simple, transparent, and rewarding as possible.</p>
      <p>Join us today and let us help you find your dream car or connect with potential buyers!</p>
    </div>

    <footer>
      <p>Contact us</p>
      <p>Email: usedcarcentral@gmail.com</p>
      <p>Phone: +1 812 8XX XXX</p>
    </footer>
  </body>
</html>
