<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Used Car Central</title>
    <link rel="stylesheet" href="landing.css" />
    <link rel="stylesheet" href="mylisting.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" />
  </head>
  <body>
    <header>
      <h1><i class="fas fa-car" style="--fa-secondary-color: #ff0000;"></i> Used Car Central - <strong>MyListings Page</strong></h1>
      <nav>
        <a href="{{ url_for('home') }}"><strong>Home</strong></a>
        <a href="{{ url_for('getCarListings') }}"><strong>Listing</strong></a>
        <a href="{{ url_for('logout') }}">Logout</a>
      </nav>
    </header>

    <div class="page-content">
      <table class="table">
        <thead>
          <tr>
            <th scope="col">Car Model</th>
            <th scope="col">Manufacturer</th>
            <th scope="col">CarSize</th>
            <th scope="col">CarCondition</th>
            <th scope="col">City</th>
            <th scope="col">StateCode</th>
            <th scope="col">PostedDate</th>
            <th scope="col">Price in USD</th>
          </tr>
        </thead>
        <tbody>
          {% for car_listing in car_listings %}
          <tr>
            <td>{{ car_listing.model }}</td>
            <td>{{ car_listing.manufacturer }}</td>
            <td>{{ car_listing.size }}</td>
            <td>{{ car_listing.condition }}</td>
            <td>{{ car_listing.city }}</td>
            <td>{{ car_listing.state }}</td>
            <td>{{ car_listing.date }}</td>
            <td>{{ car_listing.price }}</td>
          </tr>
            {% endfor %}
        </tbody>
      </table>
      <div class="add-listing">
        <a class="btn btn-primary" href="addcarlisting"><strong>Add New Car</strong></a>
      </div>
    </div>

    <footer>
      <p>Contact us</p>
      <p>Email: usedcarcentral@gmail.com</p>
      <p>Phone: +1 812 8XX XXX</p>
    </footer>

  </body>
</html>
